<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">      
<mapper namespace="com.ssmdemo.mapper.UserMapper">     
      
    <select id="findAllUser" resultType="com.ssmdemo.entity.User">
    	SELECT * FROM user
    </select>
    
    <select id="findByUserId" parameterType="int" resultType="com.ssmdemo.entity.User">
    	SELECT * FROM user WHERE id=#{id}
    </select>
    
    <insert id="insertUser" parameterType="com.ssmdemo.entity.User">
    	INSERT INTO user(id,username,email) VALUES(#{id},#{username},#{email})
    </insert>
    
    <delete id="deleteUserById" parameterType="int">
    	DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>   